


.container-fluid.input{
    padding: 5% 10%;
}

.user-img{
    width: 100px;
    height: 100px;
}

.sign{
    margin-top: 47.7px;
}

h1{
    font-size: 10px;
    font-weight: bold;
}

.idcard{
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
}

.address{
    margin: 0;
}

p{
    font-size: 10px;
}

.address:last-child{
    margin-bottom: 13px;
}

.center-section{
    text-align: center;
}

.logo-img{
    width: 100px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.row>.col-sm-6{
    font-size: 10px;
    line-height: 1.2;
}

input,select{
    margin-bottom: 9px;
}

.input-row .col-sm-6{
    font-size: initial;
}

.col{
    margin: 15px;
    text-align: center;
}


.pad-section{
    padding-right: 9%;
}

.m-0-1{
    margin-left: 0.1%;
}
.output{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media print {
    .print{
        display: none;
    }
}
